div button.smallButton, #decreaseAutoBottomScored, #increaseAutoBottomScored {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
    align-content: center;
}
